# Ignore environment variables file
.env

# Ignore virtual environment directory
venv/

# Ignore specific log file
email_errors.log

# Ignore Python cache files
__pycache__/
# Ignore Python csv files
emails.csv